In [1]:
#df.colums --> gibt mir alle Spalten√ºberschriften, die in der Tabelle vorhanden sind, aus
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [6]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0       8
1       0
2       4
3      48
4      13
5       0
6      11
7       6
8     801
9       0
10      0
11      8
12      0
13      3
14      0
15      6
16      0
17      0
18      0
19      0
Name: Total Renewals, dtype: int64
    Total Renewals  Total Checkouts
0                8              518
1                0               38
2                4               38
3               48               48
4               13               28
5                0                1
6               11              293
7                6              900
8              801             1569
9                0               45
10               0                0
11               8               73
12               0               12
13               3               26
14               0                0
15               6               18
16               0              603
17               0                0
18               0                7
19               0                0

In [20]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)
df['is_adult']

0     False
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
Name: is_adult, dtype: bool

In [10]:
#Spalte als Zahl abspeichern
pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

0     2016.0
1     2016.0
2     2008.0
3     2013.0
4     2016.0
5     2016.0
6     2016.0
7     2016.0
8     2016.0
9     2016.0
10       NaN
11    2016.0
12    2015.0
13    2015.0
14       NaN
15    2015.0
16    2016.0
17       NaN
18    2013.0
19       NaN
Name: Circulation Active Year, dtype: float64

In [11]:
#Zahl als Datumsformat definieren
pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

0    1900-07-01
1    1900-06-01
2    1900-11-01
3    1900-02-01
4    1900-06-01
5    1900-05-01
6    1900-06-01
7    1900-06-01
8    1900-07-01
9    1900-06-01
10          NaT
11   1900-07-01
12   1900-10-01
13   1900-11-01
14          NaT
15   1900-06-01
16   1900-07-01
17          NaT
18   1900-12-01
19          NaT
Name: Circulation Active Month, dtype: datetime64[ns]

In [13]:
#Zeig mir erstmal die Spalte Circulation Active Month an#
df['Circulation Active Month']

0         July
1         June
2     November
3     February
4         June
5          May
6         June
7         June
8         July
9         June
10        None
11        July
12     October
13    November
14        None
15        June
16        July
17        None
18    December
19        None
Name: Circulation Active Month, dtype: object

In [30]:
#Spalte als Zahl abspeichern
pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

0     2016.0
1     2016.0
2     2008.0
3     2013.0
4     2016.0
5     2016.0
6     2016.0
7     2016.0
8     2016.0
9     2016.0
10       NaN
11    2016.0
12    2015.0
13    2015.0
14       NaN
15    2015.0
16    2016.0
17       NaN
18    2013.0
19       NaN
Name: Circulation Active Year, dtype: float64

In [31]:
#Spalte als Zahl abspeichern
pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

0     2016.0
1     2016.0
2     2008.0
3     2013.0
4     2016.0
5     2016.0
6     2016.0
7     2016.0
8     2016.0
9     2016.0
10       NaN
11    2016.0
12    2015.0
13    2015.0
14       NaN
15    2015.0
16    2016.0
17       NaN
18    2013.0
19       NaN
Name: Circulation Active Year, dtype: float64

In [33]:
#Monat aus der Spalte als Format Zahl definieren
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)
df['Circulation Active Month']

0    NaT
1    NaT
2    NaT
3    NaT
4    NaT
5    NaT
6    NaT
7    NaT
8    NaT
9    NaT
10   NaT
11   NaT
12   NaT
13   NaT
14   NaT
15   NaT
16   NaT
17   NaT
18   NaT
19   NaT
Name: Circulation Active Month, dtype: datetime64[ns]

In [26]:
#wert des monats ausgeben als Zahl
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0      7.0
1      6.0
2     11.0
3      2.0
4      6.0
5      5.0
6      6.0
7      6.0
8      7.0
9      6.0
10     NaN
11     7.0
12    10.0
13    11.0
14     NaN
15     6.0
16     7.0
17     NaN
18    12.0
19     NaN
Name: Circulation Active Month, dtype: float64

In [28]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [29]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df['Membership Duration']

KeyError: 'Membership Duration'