In [1]:
import pandas as pd
df = pd.read_csv("../data/Library_Usage.csv")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016,z,email,True,2016,False,11.0
6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016,z,email,True,2014,False,8.0
7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016,a,print,False,2011,False,10.0
8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016,z,email,True,2009,False,8.0
9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016,z,email,True,2015,False,1.0
10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,None,None,p,phone,False,2015,False,7.0
11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016,z,email,True,2015,False,4.0
12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015,z,email,True,2015,False,6.0
13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015,z,email,True,2009,False,NaN
14,0,ADULT,0,0,10 to 19 years,M4,Merced,None,None,z,email,True,2015,True,NaN
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 15 columns):
Patron Type Code                20 non-null int64
Patron Type Definition          20 non-null object
Total Checkouts                 20 non-null int64
Total Renewals                  20 non-null int64
Age Range                       20 non-null object
Home Library Code               20 non-null object
Home Library Definition         20 non-null object
Circulation Active Month        20 non-null object
Circulation Active Year         20 non-null object
Notice Preference Code          20 non-null object
Notice Preference Definition    20 non-null object
Provided Email Address          20 non-null bool
Year Patron Registered          20 non-null int64
Outside of County               20 non-null bool
Supervisor District             17 non-null float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 2.2+ KB

In [3]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
count,20.000000,20,20.000000,20.00000,20,20,20,20,20,20,20,20,20.000000,20,17.000000
unique,NaN,4,NaN,NaN,4,14,14,8,5,3,3,2,NaN,2,NaN
top,NaN,JUVENILE,NaN,NaN,0 to 9 years,M4,Merced,June,2016,z,email,True,NaN,False,NaN
freq,NaN,14,NaN,NaN,11,3,3,6,10,13,13,13,NaN,18,NaN
mean,1.100000,NaN,210.850000,45.40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.550000,NaN,7.470588
std,0.788069,NaN,404.898464,178.17744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.285533,NaN,3.299955
min,0.000000,NaN,0.000000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,1.000000
25%,1.000000,NaN,5.500000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.000000,NaN,6.000000
50%,1.000000,NaN,33.000000,1.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.500000,NaN,8.000000
75%,1.000000,NaN,128.000000,8.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.000000,NaN,10.000000
max,3.000000,NaN,1569.000000,801.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,11.000000

In [4]:
#hier wird immer der kleinste Wert der Spalte angegeben
print(df.min())
print(df['Total Renewals'].min())

Patron Type Code                           0
Patron Type Definition                 ADULT
Total Checkouts                            0
Total Renewals                             0
Age Range                       0 to 9 years
Home Library Code                         A5
Home Library Definition                 Anza
Circulation Active Month            December
Circulation Active Year                 2008
Notice Preference Code                     a
Notice Preference Definition           email
Provided Email Address                 False
Year Patron Registered                  2003
Outside of County                      False
Supervisor District                        1
dtype: object
0

In [5]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [6]:
df.dtypes

Patron Type Code                  int64
Patron Type Definition           object
Total Checkouts                   int64
Total Renewals                    int64
Age Range                        object
Home Library Code                object
Home Library Definition          object
Circulation Active Month         object
Circulation Active Year          object
Notice Preference Code           object
Notice Preference Definition     object
Provided Email Address             bool
Year Patron Registered            int64
Outside of County                  bool
Supervisor District             float64
dtype: object

In [7]:
df.shape

(20, 15)